@font-face {
  font-family: 'RockSalt';
  font-style: normal;
  font-weight: 400;
  src:
  	local('Rock Salt Regular'),
  	local('RockSalt-Regular'),
  	url(https://fonts.gstatic.com/s/rocksalt/v7/Q94aHXFHGip10K5uxi1jOJBw1xU1rKptJj_0jans920.woff2)
  	format('woff2');
  unicode-range: 
  	U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

body
{
	font-family: verdana;
}

h1
{
	text-align: center;
	font-size: 3em;
	font-weight: bolder;
	padding: 15px;
}

p
{
	margin-bottom: 2px;
}

.jumbotron
{
	margin-top: 15px;
	background-color: #F3ECE2;
	margin-bottom: 25px;
}

#searchFields
{
	background-color: #E2E9F3;
}

fieldset
{
	margin-bottom: 20px;
}

input
{
	border-radius: 7px;
}

button
{
	margin-right: 15px;
}

#actionButtons
{
	margin-top: 100px;
	margin-bottom: 20px;
}

#qParameter
{
	width: 50%;
}

#searchResults,
#searchResultsHeader,
#resultsContainer
{
	display: none;
}

#searchResultsHeader
{
	font-family: RockSalt;
	font-size: 3.5em;
	text-align: center;
	padding: 25px;
	margin-bottom: 60px;

}







